body {
    background: linear-gradient(to bottom, pink, darkblue);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

table {
    width: 55%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: auto;
    background-color: white;
    border-spacing: 25px;
}

img {
    width: 150px;
    height: auto;
}